{
  "log": {
    "_recordingName": "jfrog_recordings",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "c5fe683471e323efc9afa1e1358e414b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.bamboohr.com/api/gateway.php/creativicetrial/v1/meta/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 12135,
            "text": "{\"2370\":{\"id\":2370,\"employeeId\":61,\"firstName\":\"Dwight\",\"lastName\":\"Goodman\",\"email\":\"dwight@efficientoffice.com\",\"status\":\"enabled\",\"lastLogin\":\"2020-03-30T22:14:17+00:00\"},\"2371\":{\"id\":2371,\"employeeId\":75,\"firstName\":\"Adam\",\"lastName\":\"Holt\",\"email\":\"adamh@efficientoffice.com\",\"status\":\"enabled\",\"lastLogin\":\"2020-03-30T22:26:23+00:00\"},\"2372\":{\"id\":2372,\"employeeId\":63,\"firstName\":\"Lewis\",\"lastName\":\"Shelton\",\"email\":\"lewis@efficientoffice.com\",\"status\":\"enabled\",\"lastLogin\":\"2020-03-30T22:59:06+00:00\"},\"2375\":{\"id\":2375,\"employeeId\":18,\"firstName\":\"Javier\",\"lastName\":\[...]
