{
  "log": {
    "_recordingName": "verifyAuthenticationInvalid",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "c9941b2819fb7488998549193ba3d037",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.bamboohr.com/api/gateway.php/collegeeat/v1/employees/0"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=UTF-8"
            },
            {
              "name": "x-bamboohr-error-message",
              "value": "API key not provided or invalid"
            },
            {
              "name": "www-authenticate",
              "value": "Basic realm=\"https://api.bamboohr.com/collegeeat\""
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 135,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
