{
  "log": {
    "_recordingName": "verifyAuthentication",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "c9941b2819fb7488998549193ba3d037",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.bamboohr.com/api/gateway.php/collegeeat/v1/employees/0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 10,
            "text": "{\"id\":\"8\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 236,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
