{
  "log": {
    "_recordingName": "recordings",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "12d04909bd7b6826ced5373e479747c1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.bamboohr.com/api/gateway.php/jupiteronepartneraccount/v1/employees/directory"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 61059,
            "text": "{\"fields\":[{\"id\":\"displayName\",\"type\":\"text\",\"name\":\"Display name\"},{\"id\":\"firstName\",\"type\":\"text\",\"name\":\"First name\"},{\"id\":\"lastName\",\"type\":\"text\",\"name\":\"Last name\"},{\"id\":\"preferredName\",\"type\":\"text\",\"name\":\"Preferred name\"},{\"id\":\"jobTitle\",\"type\":\"list\",\"name\":\"Job title\"},{\"id\":\"workPhone\",\"type\":\"text\",\"name\":\"Work Phone\"},{\"id\":\"mobilePhone\",\"type\":\"text\",\"name\":\"Mobile Phone\"},{\"id\":\"workEmail\",\"type\":\"email\",\"name\":\"Work Email\"},{\"id\":\"department\",\"type\":\"list\",\"name\":\"Department\"},{\"id\":\"location\",\"type\":\"list\",\"name\":\"Location\"},{\"id\":\"division\",\"type\":\"list\",\"name\":\"Division\"},{\"id\":\"linkedIn\",\"type\":\"text\",\"name\":\"LinkedIn URL\"},{\"id\":\"instagram\",\"type\":\"text\",\"name\":\"Instagram URL\"},{\"id\":\"pronouns\",\"type\":\"list\",\"name\":\"Pronouns\"},{\"id\":\"workPhoneExtension\",\"type\":\"text\",\"name\":\"Work Ext.\"},{\"id\":\"supervisor\",\"type\":\"employee\",\"name\":\"Manager\"},{\"id\":\"photoUploaded\",\"type\":\"bool\",\"name\":\"Employee photo exists\"},{\"id\":\"photoUrl\",\"type\":\"url\",\"name\":\"Employee photo url\"},{\"type\":\"bool\",\"name\":\"\",\"id\":\"canUploadPhoto\"}],\"employees\":[{\"id\":\"4\",\"displayName\":\"Charlotte Abbott\",\"firstName\":\"Charlotte\",\"lastName\":\"Abbott\",\"preferredName\":null,\"jobTitle\":\"Sr. HR Administrator\",\"workPhone\":\"[REDACTED]\",\"mobilePhone\":\"[REDACTED]\",\"workEmail\":\"redacted@email.com\",\"department\":\"Human Resources\",\"location\":\"Lindon, Utah\",\"division\":\"North America\",\"linkedIn\":\"www.linkedin.com\",\"instagram\":\"@instagram\",\"pronouns\":null,\"workPhoneExtension\":\"1272\",\"supervisor\":\"Jennifer Caldwell\",\"photoUploaded\":true,\"photoUrl\":\"[REDACTED]\",\"canUploadPhoto\":1},{\"id\":\"5\",\"displayName\":\"Ashley Adams\",\"firstName\":\"Ashley\",\"lastName\":\"Adams\",\"preferredName\":null,\"jobTitle\":\"HR Administrator\",\"workPhone\":\"[REDACTED]\",\"mobilePhone\":\"[REDACTED]\",\"workEmail\":\"redacted@email.com\",\"department\":\"Human Resources\",\"location\":\"London, UK\",\"division\":\"Europe\",\"linkedIn\":\"www.linkedin.com\",\"instagram\":\"@instagram\",\"pronouns\":null,\"workPhoneExtension\":\"130\",\"supervisor\":\"Jennifer Caldwell\",\"photoUploa[...]
