{
  "log": {
    "_recordingName": "recordings",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "a077feb4a1787ec3e14b6c61aac207ec",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"title\":\"Employee Report for JupiterOne\",\"filters\":{},\"fields\":[\"displayName\",\"firstName\",\"lastName\",\"preferredName\",\"gender\",\"jobTitle\",\"workPhone\",\"mobilePhone\",\"workEmail\",\"department\",\"location\",\"division\",\"linkedIn\",\"instagram\",\"pronouns\",\"workPhoneExtension\",\"supervisor\",\"photoUploaded\",\"photoUrl\",\"status\",\"employeeNumber\",\"employmentHistoryStatus\",\"terminationDate\",\"hireDate\"]}"
          },
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "onlyCurrent",
              "value": "false"
            }
          ],
          "url": "https://api.bamboohr.com/api/gateway.php/collegeeat/v1/reports/custom?format=json&onlyCurrent=false"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 84448,
            "text": "{\"title\":\"Employee Report for JupiterOne\",\"fields\":[{\"id\":\"displayName\",\"type\":\"text\",\"name\":\"Display Name\"},{\"id\":\"firstName\",\"type\":\"text\",\"name\":\"First Name\"},{\"id\":\"lastName\",\"type\":\"text\",\"name\":\"Last Name\"},{\"id\":\"preferredName\",\"type\":\"text\",\"name\":\"Preferred Name\"},{\"id\":\"gender\",\"type\":\"gender\",\"name\":\"Gender\"},{\"id\":\"jobTitle\",\"type\":\"list\",\"name\":\"Job Title\"},{\"id\":\"workPhone\",\"type\":\"text\",\"name\":\"Work Phone\"},{\"id\":\"mobilePhone\",\"type\":\"text\",\"name\":\"Mobile Phone\"},{\"id\[...]
