{
  "log": {
    "_recordingName": "bamboohr_recordings",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "7441ac19284a3cf321bd5fe17610a989",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.bamboohr.com/api/gateway.php/jupiteronepartneraccount/v1/meta/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 13407,
            "text": "{\"2370\":{\"id\":2370,\"employeeId\":61,\"firstName\":\"Dwight\",\"lastName\":\"Goodman\",\"email\":\"dwight@efficientoffice.com\",\"status\":\"enabled\",\"lastLogin\":\"2021-02-26T22:14:17+00:00\"},\"2371\":{\"id\":2371,\"employeeId\":75,\"firstName\":\"Adam\",\"lastName\":\"Holt\",\"email\":\"adamh@efficientoffice.com\",\"status\":\"enabled\",\"lastLogin\":\"2021-02-26T22:26:23+00:00\"},\"2372\":{\"id\":2372,\"employeeId\":63,\"firstName\":\"Lewis\",\"lastName\":\"Shelton\",\"email\":\"lewis@efficientoffice.com\",\"status\":\"enabled\",\"lastLogin\":\"2021-02-26T22:59:06+00:00\"},\"2375\":{\"id\":2375,\"employeeId\":18,\"firstName\":\"Javier\",\"lastName\":\[...]
