{
  "log": {
    "_recordingName": "verifyAuthenticationNotFound",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "4bf45de2f3b8d16b63aea15efc8ed0af",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.bamboohr.com/api/gateway.php/collegeeat/v1/employees/182372"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "size": 44,
            "text": ""
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=UTF-8"
            },
            {
              "name": "x-bamboohr-error-messsage",
              "value": "Employee not found, Employee not found"
            },
            {
              "name": "x-bamboohr-error-message",
              "value": "Employee not found, Employee not found"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 338,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
