{
  "log": {
    "_recordingName": "iterateUsers",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "63da88fc9d17a3d8216bdc44d82fbe96",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.bamboohr.com/api/gateway.php/domekipper/v1/meta/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 12082,
            "text": "{\"2370\":{\"id\":2370,\"employeeId\":61,\"firstName\":\"Dwight\",\"lastName\":\"Goodman\",\"email\":\"redacted@email.com\",\"status\":\"enabled\",\"lastLogin\":\"2021-08-08T22:14:17+00:00\"},\"2371\":{\"id\":2371,\"employeeId\":75,\"firstName\":\"Adam\",\"lastName\":\"Holt\",\"email\":\"redacted@email.com\",\"status\":\"enabled\",\"lastLogin\":\"2021-08-08T22:26:23+00:00\"},\"2372\":{\"id\":2372,\"employeeId\":63,\"firstName\":\"Lewis\",\"lastName\":\"Shelton\",\"email\":\"redacted@email.com\",\"status\":\"enabled\",\"lastLogin\":\"2021-08-08T22:59:06+00:00\"},\"2375\":{\"id\":2375,\"employeeId\":18,\"firstName\":\"Javier\",\"lastName\":\"Cruz\",\"emai[...]
